/* autoprefixer grid: autoplace */

$theme-color: #1A388B;
$danger-color: #EB3B38;

.dev-bg {
    background: $theme-color;
}
.prod-bg {
    background: $danger-color;
}

.heading {
    position: absolute;
    top: 0;
    transform: scale(1);
    left: 0;
    right: 0;
    
    h1 {
        color: white;
        text-align: center;
    }
}